.bor-b{
    border-bottom: 2px solid white;
}
.d-scroll-y{
    overflow-x: hidden;
}
.pixelated {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-color: #ff0000;
}